<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.asms.dao.StoreDao">
    <!--查询所有的门店信息-->
    <select id="findStoreAll" resultType="com.trkj.asms.entity.Store">

    </select>

</mapper>